<html>
  <head>
  <title>Warning</title>
  <script type="text/javascript">
    alert("<%= message %>");
    window.location.href = "<%= redirect %>";
  </script>
  </head>
  <body>
    <h1><%= message %></h1>
  </body>
</html>