<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>프로필</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">username</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/profile.html">프로필</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/writing.html">글쓰기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/awards.html">활동기간,수상내역</a>
          </li>
          <li class="nav-item">
            <!-- 로그아웃버튼 -->
            <a class="nav-link" href="/NewLoginForm.html">로그아웃</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container">
        <h2>🙋‍♂️본인 소개🙋‍♀️</h2>
        <form action="write.jsp" method="post">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" placeholder="이름" name="name" maxlength="100">
            </div>
            <div class="form-group">
                <label for="content">간략소개</label>
                <!-- 이름만 적을것을 고려하여 소개에는 required를 제외 -->
                <textarea class="form-control" rows="5" id="content" name="content" placeholder="간략 소개"></textarea>
            </div>
              <button type="submit" class="btn btn-outline-dark">등록</button>
        </form>
        <div>
            <label></label>
        </div>
        <form action="write.jsp" method="post">
            <div class="form-group">
                <label for="name">전문 분야</label>
                <input type="text" class="form-control" id="name" placeholder="종류" name="kind" maxlength="50"
                    required="required">
                <input type="text" class="form-control" id="name" placeholder="전문 분야 이름" name="name of specialty" maxlength="50"
                    required="required">
            </div>
            <div>
                <label></label>
            </div>
            <button type="submit" class="btn btn-outline-dark">추가</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>